<!-- TODO: add localization -->
<ion-view cache-view="true" view-title="Contacts">
  <ion-nav-bar class="bar" align-title="center">
    <ion-nav-buttons side="right">
      <!-- TODO: make back history-->
      <button class="button button-icon ion-chevron-left" ui-sref="trainer"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <!-- Center content -->
    <div class="list card">
      <a href="tel:03-7123456" class="item item-icon-left">
        <!-- TODO: add localization-->
        <i class="icon ion-ios-telephone"></i> חברת Bwell: 03-7123456
      </a>
      <a href="mailto:service@b-well.co.il" class="item item-icon-left">
        <!-- TODO: add localization-->
        <i class="icon ion-email"></i> לשאלות במייל: service@b-well.co.il
      </a>
    </div>
  </ion-content>
</ion-view>
