<ion-view view-title="Person"  cache-view="false">
  <ion-nav-bar class="bar bar-positive" align-title="center">

    <ion-nav-buttons side="left">
      <button class="button button-energized " ng-click="personCtr.onSelectTypeSendPicture()">get picture</button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right" class="button-clear">
      <button class="button" ng-click="personCtr.goBackToList()">
        <i class="ion-chevron-left main-color"></i>
      </button>
    </ion-nav-buttons>

  </ion-nav-bar>
  <ion-content>  
    <label class="item item-input">Name</label>
    <label class="item item-input">ID</label>
    <label class="item item-input">Email</label>
    <label class="item item-input">Phone</label>
    <label class="item item-input">Place\city</label>
    <label class="item item-input">Package trainings</label>
    <!--Пакет тренировок-->
    <label class="item item-input">History trainings</label>
    <!-- История тренировок -->

   <!--  <button class="button button-energized " ng-click="personCtr.onGetPicture()">get picture</button>
    <div class="row">
      <div class="col-33">Замечания</div>
      <div class="col-33">Треннер\специалист</div>
      <div class="col-33">Дата</div>
    </div>
    <div class="row">
      <div class="col-33"></div>
      <div class="col-33"></div>
      <div class="col-33"></div>
    </div> -->
  </ion-content>
</ion-view>
